body {
  font-family: "poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  font-size: 1.125rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.searchbar {
  width: 100%;
  color: #ddd;
}

.main-nav {
  width: 100vw;
  background-color: #333645;
  display: none;
}

.sub-nav {
  display: none;
}

.webdesign-nav {
  display: none;
}

.it-nav {
  display: none;
}

.telecoms-nav {
  display: none;
}

.software-nav {
  display: none;
}

.marketing-nav {
  display: none;
}

.security-nav {
  display: none;
}

#signup {
  width: 100%;
  background-color: #ddd;
}

#contact {
  width: 100%;
  background-color: #333645;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

#contact a {
  text-decoration: none;
  color: white;
}

footer {
  width: 100%;
  background-color: white;
}

.btn {
  text-decoration: none;
  padding: 5px 15px;
  color: #fff;
}

.btn-support {
  background: #4183d7;
}

.btn-contact {
  background: #ddd;
}

.btn-submit {
  background: #ddd;
}

.btn-menu {
  background: #333645;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 40%;
}

i {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}