.software-txt {
  color: #67809F;
}

.itsupport-txt {
  color: #4183d7;
}

.marketing-txt {
  color: #2ecc71;
}

.telecoms-txt {
  color: #d64541;
}

.webdesign-txt {
  color: #926fb1;
}

.security-txt {
  color: #f62459;
}

.text-white {
  color: white;
}

.text-light-greyb {
  color: #ccc;
}

.text-light-grey {
  color: #ddd;
}

.text-med-grey {
  color: #666;
}

.text-dark-grey {
  color: #333645;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.btn {
  height: auto;
  line-height: 35px;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  font-size: 1.063rem;
  display: inline-block;
}

.btn-lg {
  line-height: 50px;
  padding: 5px 20px;
  display: none;
}

.btn-inline-search {
  background-color: #999aa2;
  line-height: 46px;
  font-size: 1.5rem;
  padding: 5px 20px;
}

.btn-inverse {
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 3px;
  color: #333645;
  background: white;
  display: inline-block;
}

.btn-menu {
  background: #333645;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
  margin-left: 20px;
  display: block;
  position: relative;
  height: 46px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.marketing {
  background-color: #2ecc71;
  margin: 0 auto;
}

.btn-itsupport {
  background: #4183d7;
}

.btn-contact {
  background: #ddd;
}

.btn-submit {
  position: absolute;
  font-size: 20px;
  display: inline-block;
  right: 0;
  top: 0;
  padding: 6px 6px;
}

.btn-dark-grey {
  background: #333645;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
  color: white;
  display: inline-block;
}

.banner-button {
  background: #999aa2;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  display: block;
  position: relative;
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
}

.banner-button:focus {
  background: white;
  outline: none;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
  display: inline-block;
}

.software {
  background: #67809F;
  margin: 0 auto;
}

.itsupport {
  background: #4183d7;
  margin: 0 auto;
}

.telecoms {
  background: #d64541;
  margin: 0 auto;
}

.webdesign {
  background: #926fb1;
  margin: 0 auto;
}

.security {
  background: #f62459;
  margin: 0 auto;
}

.newsletter-btn {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin: 0 20px 0 0;
}

.socialmedia-btn {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 3rem;
}

@media (min-width: 768px) {
  .btn-lg {
    display: inline-block;
  }
}
.logo {
  max-width: 100%;
  display: block;
}

.fa-bars {
  font-size: 2rem;
}

.icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 17px;
  border-radius: 50%;
}

.icon-serv {
  color: white;
  font-size: 1.3em;
  margin: auto;
}

.btn-menu-icon:before, .btn-menu-icon:after {
  content: "";
  background-color: white;
  height: 3px;
  width: 33px;
  display: block;
  position: absolute;
}

.btn-menu-icon {
  content: "";
  background-color: white;
  height: 3px;
  width: 33px;
  top: 50%;
  display: block;
  position: absolute;
}

.btn-menu-icon:before {
  top: -0.5rem;
}

.btn-menu-icon:after {
  bottom: -0.5rem;
}

.header-search-icon {
  width: 23px;
}

.phone-top {
  vertical-align: middle;
  font-size: 2rem;
  display: block;
  margin: 0 15px;
}

body {
  font-family: "poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  margin: 0 0;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

* :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin-bottom: 13px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
}

.h1, h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
}

.h2, h2 {
  font-size: 1.125rem;
  margin: 0 0 15px;
  position: relative;
}

.h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.cardspacer {
  display: none;
}

span {
  display: inline-block;
}

.section-container {
  padding: 50px 0;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.row {
  margin: 0 -15px 0;
}

.inline-search {
  margin-left: 20px;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: inset 0 0 10px #999aa2;
          box-shadow: inset 0 0 10px #999aa2;
}

header .top-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}
header .block {
  border: 1px solid #ddd;
}
header .header-wrapper {
  width: 100%;
  padding: 20px 0;
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
header .header-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
header .logo-container {
  padding: 0 15px;
}
header .header-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-button-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}
header .in-searchbar {
  border-radius: 3px;
  background: #999aa2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .in-search {
  line-height: 44px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  color: #555;
  width: 144px;
  -webkit-box-shadow: inset 0 0 1px #999aa2;
          box-shadow: inset 0 0 1px #999aa2;
}
header .in-search:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px #4183d7;
          box-shadow: 0 0 3px 1px #4183d7;
}
header .header-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
}
header .header-menu-btn {
  position: relative;
  color: white;
  display: block;
}
header .btn-menu-icon-cnt {
  position: absolute;
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 19px;
  width: 33px;
  top: 8px;
}
header .menu-title {
  position: relative;
  display: block;
  font-size: 0.65rem;
  line-height: 2.5rem;
}
header .searchbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 11px;
  background-color: #ddd;
  -webkit-box-shadow: inset 0 0 0 1px #ddd;
          box-shadow: inset 0 0 0 1px #ddd;
  border: 2px solid #ccc;
  position: relative;
}
header .main-search {
  background-color: #ddd;
  color: #666;
  border: none;
  position: relative;
  line-height: 2rem;
  font-size: 14px;
  width: 100%;
  height: 43px;
  padding: 5px 40px 5px 15px;
  margin: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .main-search .fa-search {
  color: #666;
}
header .main-search:focus {
  background-color: #ddd;
  color: #666;
  outline: none;
}

nav {
  font-size: 1.125rem;
}
nav .main-nav {
  background-color: #333645;
  display: none;
}
nav .sub-nav {
  display: none;
}
nav .webdesign-nav {
  display: none;
}
nav .it-nav {
  display: none;
}
nav .telecoms-nav {
  display: none;
}
nav .software-nav {
  display: none;
}
nav .marketing-nav {
  display: none;
}
nav .security-nav {
  display: none;
}

#banner {
  height: 100%;
}

.banner-img-container {
  min-height: 590px;
  background: url(https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-57sJ.webp), -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0.3)));
  background: url(https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-57sJ.webp), linear-gradient(to right, black, rgba(0, 0, 0, 0.3));
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  display: block;
  position: relative;
  color: white;
  height: 100%;
}

.banner-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
}
.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.banner-content p {
  margin: 0 0 35px;
  line-height: 2.25rem;
  font-size: 1.25rem;
}

.banner-button-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  position: relative;
  bottom: -42%;
}
.banner-button-container ul {
  list-style: none;
  text-align: center;
  padding: 0 0;
  position: relative;
  margin: 0;
}
.banner-button-container li {
  margin: 0 2px;
  display: inline-block;
  position: relative;
}

#services {
  color: #666;
  display: block;
  position: relative;
}
#services .h2 {
  padding: 1rem;
}
#services .col-serv1 {
  padding: 0 15px;
}
#services .col-serv2 {
  width: 50%;
}
#services .services-cards {
  margin-top: -30px;
  text-align: center;
}
#services .card {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 30px;
  padding: 30px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
#services .service-card-container {
  display: block;
}
#services .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about {
  position: relative;
  background-color: #333645;
  color: white;
}
#about .container-about {
  text-align: left;
}
#about a {
  color: #333645;
}
#about p {
  font-weight: 400;
  line-height: 2rem;
  margin: 0 0 25px;
}

#latest {
  position: relative;
}
#latest .row {
  margin-top: -30px;
}
#latest .section-container {
  padding: 50px 0;
}
#latest .latest-mainheader {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
#latest .article-list {
  overflow: hidden;
}
#latest .card-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}
#latest .latest-card {
  margin-top: 30px;
  position: relative;
}
#latest .latest-cnt-header {
  display: block;
  position: relative;
  padding: 0 15px;
}
#latest .latest-cnt-header span {
  padding: 40px 0;
}
#latest .latestsp {
  position: relative;
  text-transform: uppercase;
}
#latest .latestsp:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  display: block;
  background-color: #333645;
  bottom: 0;
}
#latest h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 15px;
}
#latest p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0 0 25px;
  color: #666;
}
#latest .latest-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
#latest .latest-header img {
  width: 100%;
}
#latest .header-tag {
  position: absolute;
  z-index: 1;
  height: 1rem;
  padding: 3px;
  margin-top: 10px;
  right: 0;
  color: white;
}
#latest .header-tag a:hover {
  text-decoration: underline;
}
#latest .latest-content {
  padding: 30px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
#latest .user {
  margin: 30px 0 0;
}
#latest .user hr {
  background-color: #ccc;
}
#latest .user-grid {
  padding: 30px 0 0;
  display: table;
  table-layout: auto;
}
#latest .user-avatar {
  display: table-cell;
  vertical-align: middle;
}
#latest .avatar-img {
  border-radius: 50%;
}
#latest .user-details {
  line-height: 1.375rem;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  color: #666;
}
#latest .user-details strong {
  color: #333645;
}

#clients {
  display: block;
  -webkit-box-shadow: inset 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 35px rgba(0, 0, 0, 0.1);
}
#clients .clients-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}
#clients .client-link {
  padding: 0 20px;
  position: relative;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
#clients .client-link img:nth-child(1) {
  display: none;
}
#clients .client-link:hover img:nth-child(1) {
  display: block;
}
#clients .client-link:hover img:nth-child(2) {
  display: none;
}
#clients img {
  max-width: 100%;
}

#signup {
  background-color: #ddd;
  text-align: left;
  position: relative;
}
#signup h2 {
  font-size: 2rem;
}
#signup .signup-form {
  padding: 0 30px;
}
#signup .newsletter-textfields {
  margin: 0 0 15px;
}
#signup .newsletter-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0;
  height: 47px;
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  color: #666;
}
#signup .newsletter-field:focus {
  padding: 15px;
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px #4183d7;
          box-shadow: 0 0 3px 1px #4183d7;
}
#signup .required {
  display: block;
  margin-bottom: 5px;
}
#signup .required:after {
  content: " *";
  color: red;
}
#signup .checkbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 15px;
}
#signup .checkbox-cnt {
  width: 32px;
  height: 32px;
  margin: 0 20px 0 0;
  cursor: pointer;
}
#signup .checkbox-cnt input {
  position: absolute;
  display: none;
  cursor: pointer;
}
#signup .checkbox-style {
  position: relative;
  background-color: #ddd;
  border: 3px solid #333645;
  border-radius: 3px;
  width: 26px;
  height: 26px;
  margin: 0 20px 0 0;
}
#signup .checkbox-cnt input:checked ~ .checkbox-style {
  background-color: #333645;
}
#signup .checkbox-style:after {
  content: "";
  position: absolute;
  display: none;
}
#signup .checkbox-cnt input:checked ~ .checkbox-style:after {
  display: block;
}
#signup .checkbox-cnt .checkbox-style:after {
  right: 40%;
  top: 10%;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#signup .checkbox-text {
  display: inline-block;
  line-height: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#signup .checkbox-text a {
  text-decoration: underline;
}
#signup label {
  font-weight: 600;
}

#contact {
  background-color: #333645;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  position: relative;
}
#contact a {
  text-decoration: none;
  color: white;
}
#contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  text-align: left;
  margin-bottom: 30px;
  padding: 0 15px;
}

.col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  text-align: left;
  margin-bottom: -30px;
  padding: 0 15px;
}

.socialmedia-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 20px;
}

.socialmedia-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.socialmedia-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.socialmedia-grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.socialmedia-grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

footer {
  position: relative;
  background-color: white;
}
footer h4 {
  margin: 0 0 26px;
}
footer p {
  font-size: 1rem;
}

@media (max-width: 479px) {
  .latest-card {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .cardspacer {
    display: block;
  }

  .container {
    width: 750px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .header-searchbar {
    display: none;
  }

  .inline-search {
    display: block;
  }

  .header-phone {
    display: none;
  }

  #services .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .card-wrapper {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .row {
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#latest .card-wrapper:nth-child(3) {
  display: none;
}

#clients img {
  height: auto;
}

#contact .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-wrapper {
  position: relative;
  width: 50%;
}

.col-wrapper2 {
  position: relative;
  width: 50%;
  margin-bottom: -30px;
}