$dark-grey: #333645;
$med-grey: #666;
$light-grey: #ddd;
$btn-grey:#999aa2;

//colours
$clr-software: #67809F;
$clr-itsupport: #4183d7;
$clr-marketing: #2ecc71;
$clr-telecoms: #d64541;
$clr-webdesign: #926fb1;
$clr-security: #f62459;
