@use "utility/colours";

.btn {
  text-decoration: none;
  padding: 1rem 1rem;
  color:white;
  border-radius: 3px;
}

.marketing {
  background-color: colours.$clr-marketing;

}

.btn-support {
  background: colours.$clr-itsupport;
}

.btn-contact {
  background: colours.$light-grey;

}

.btn-submit {
  background: colours.$light-grey;
}

.btn-dark-grey {
  background: colours.$dark-grey;
  display: flex;
  margin-bottom: auto;
}

.software {
  background: colours.$clr-software;
}

.itsupport {
  background: colours.$clr-itsupport;
}

.telecoms {
  background: colours.$clr-telecoms;
}

.webdesign {
  background: colours.$clr-webdesign;
}

.security {
  background: colours.$clr-security;
}

.btn-culture {
  color: colours.$dark-grey;
  background-color: white;
}
