@use "utility/colours";

.btn {
  height: auto;
  line-height: 35px;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
  font-size: 1.063rem;
  display: inline-block;
}

.btn-inverse {
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 3px;
  color: colours.$dark-grey;
  background: white;
  display: inline-block;
}

.btn-menu {
  background: colours.$dark-grey;
height: 3rem;
width: 3rem;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 15px;
}

.marketing {
  background-color: colours.$clr-marketing;
  margin: 0 auto;

}

.btn-itsupport {
  background: colours.$clr-itsupport;
}

.btn-contact {
  background: colours.$light-grey;

}

.btn-submit {
  background: colours.$light-grey;
}

.btn-dark-grey {
  background: colours.$dark-grey;
  display: flex;
  margin-bottom: auto;
  color: white;
  display: inline-block;
}

.software {
  background: colours.$clr-software;
  margin: 0 auto;
}

.itsupport {
  background: colours.$clr-itsupport;
  margin: 0 auto;
}

.telecoms {
  background: colours.$clr-telecoms;
  margin: 0 auto;
}

.webdesign {
  background: colours.$clr-webdesign;
  margin: 0 auto;
}

.security {
  background: colours.$clr-security;
  margin: 0 auto;
}

.newsletter-btn {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin: 0 20px 0 0;
}

.socialmedia-btn {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 3rem;
}
