@use "utility/colours";
@import "utility/mixins";


.top-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header-wrapper {
  padding: 20px 0;
  position: relative;
}

header .row {
  display: flex;
  align-items: center;
}


.header-logo-container {
  padding-left: 15px;
  display: flex;
  margin-right: auto;

  @include bp(min768) {
    padding: 0 15px;
    width: 50%;
    align-self: flex-start;
  }

  @include bp(min992) {
    width: 41.66666667%;
  }

  @include bp(min1260) {
    width: 33.33333333%;
  }
}

.header-phone {
  @include bp(min768) {
    display: none;
  }
}

.header-button-container{
  display: flex;
  height: 70px;
  padding-right: 15px;

  @include bp(min768) {
    padding: 0 15px;
    width: 50%;
    justify-content: flex-end;
  }
}

.header-button-inner> *+* {
  margin-left: 20px;
  flex: 1 1 auto;
}

// Interactive Searcbar

#activate-inls:checked ~ .button-container {
  display: none;
}

#activate-inls:checked ~ .in-searchbar-int > .in-search-int {
  display: block;
}

.in-searchbar-int {
  border-radius: 3px;
  background: colours.$btn-grey;
  display: none;
  order: 2;

  @include bp(min992max1259) {
    display: flex;
  }
}

.in-search-int {
  line-height: 44px;
  padding: 5px 15px;
  border: 1px solid colours.$light-greyb;
  color: #555;
  width: 300px;
  box-shadow: inset 0 0 1px colours.$btn-grey;
  font-size: 0.85rem;
  font-weight: 400;
  display: none;
  order: -1;
}

.in-search-int::placeholder {
  color: colours.$btn-grey;
}

.in-search-int:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
  display: block;
}

.header-button-inner input[type=checkbox] {
  display: none;
}

.in-search-int:focus .header-button-inner > .support-button-container {
  display: none;
}

// /Interactive Searcbar

.inline-search {
  margin-left: 20px;
  display: none;
  align-self: center;
  box-shadow: inset 0 0 10px colours.$btn-grey;
  border-radius: 3px;
  order: 3;

  @include bp(min768) {
    display: block;
  }

  @include bp(min992max1259) {
    display: none;
  }

  @include bp(min1260) {
    display: block;
  }
}

.in-searchbar {
  border-radius: 3px;
  background: colours.$btn-grey;
  display: flex;
}

.in-search {
  line-height: 44px;
  padding: 5px 15px;
  border: 1px solid colours.$light-greyb;
  color: #555;
  width: 174px;
  box-shadow: inset 0 0 1px colours.$btn-grey;
  font-size: 0.85rem;
  font-weight: 400;

  @include bp(min992) {
    display: none;
  }

  @include bp(min1260) {
    display: block;
    width: 240px;
  }
}

.in-search::placeholder {
  color: colours.$btn-grey;
}

.in-search:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
}

.btc-992 {
  @include bp(min992) {
    width: 58.33333333%;
  }
}

.btc-1260 {
  @include bp(min1260) {
    width: 66.66666667%;
  }
}

.header-button-inner {
  display: flex;
  align-items: center;
}

.button-container {
  display: none;
  color: colours.$white;
  order: 1;

  @include bp(min992) {
    display: block;
  }
}

.header-menu {
  align-self: center;
  text-transform: uppercase;
  order: 3;
}

.header-menu-btn {
  position: relative;
  color: white;
}

.btn-menu-icon-cnt {
  position: relative;
  height: 19px;
  width: 33px;
  top: 3px;
}

.menu-title{
  position: relative;
  display: block;
  font-size: 0.75rem;
  line-height: 1rem;
  top: 4px;
  letter-spacing: 0px;
}

.searchbar {
  margin-top: 11px;
  background-color: #ddd;
  box-shadow: inset 0 0 0 1px #ddd;
  border: 2px solid #ccc;
  position: relative;

  @include bp(min768) {
    display: none;
  }
}

.main-search {
  background-color: #ddd;
  color: colours.$med-grey;
  border: none;
  line-height: 2rem;
  font-size: 14px;
  width: 100%;
  height: 43px;
  padding: 5px 40px 5px 15px;
  box-sizing: border-box;

.fa-search {
  color: colours.$med-grey;
  }
}

.main-search:focus {
  background-color: #ddd;
  color: colours.$med-grey;
  outline: none;
}
