body {
  font-family: 'poppins', sans-serif;
  display: flex;

}

header {
  font-size: 1.125rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;


}

.searchbar {
  color: #999aa2;

}
