@use "utility/colours";


body {
  font-family: 'poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
}



header {
  font-size: 1.125rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;

}

.searchbar {
  width: 100%;
  color: colours.$bg-light;

}

.main-nav {
  width: 100vw;
  background-color: colours.$bg-dark;
  display: none;
}

.sub-nav {
  display: none;
}

.webdesign-nav {
  display: none;
}

.it-nav {
  display: none;
}

.telecoms-nav {
  display: none;
}

.software-nav {
  display: none;
}

.marketing-nav {
  display: none;
}

.security-nav {
  display: none;
}

main {


}

#signup {
  width: 100%;
  background-color: colours.$bg-light;

}

#contact{
  width: 100%;
  background-color: colours.$bg-dark;
  flex-wrap: wrap;
  color: white;
}

#contact a {
  text-decoration: none;
  color: white;

}

.contact-info {

}

.about-links {

}

.website {

}

.social-media {

}

footer {
  width: 100%;
  background-color: white;
}
