@use "utility/colours";


body {
  font-family: 'poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  margin: 0 0;
  font-size: 1rem;
  letter-spacing: .4px;
}

* :after, :before {
  box-sizing: border-box;
}

// Text Styles

.p{
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin-bottom: 13px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
}
.h1, h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
}

.h2, h2{
  font-size: 1.125rem;
  margin: 0 0 15px;
  position: relative;
}



.h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.cardspacer {
  display: none;
}

span {
  display: inline-block;

}


.section-container {
  padding: 50px 0;
  display: block;
}
// End Text Styles

// header



.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.row {
margin: 0 -15px 0;
}

header {

  .top-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

  }

.hrow {
  height: 70px;
  display: flex;
  align-items: center;
}

.block {
  border: 1px solid colours.$light-grey;
}

.header-container {
  padding: 0 15px;
  position: relative;

}

.header-wrapper {
  width: 100%;
  padding: 20px 0;
}

.logo-container {
}

.header-phone {
}

.inline-search {
  margin-left: 20px;
  display: flex;
}

.in-searchbar {
width: 100%;

}

.in-search {

}

.header-menu {
  text-transform: uppercase;
  position: relative;
}

.header-menu-btn {
  position: relative;
  color: white;
}

.btn-menu-icon-cnt {
  position: absolute;
  display: block;
  box-sizing: content-box;
  height: 19px;
  width: 33px;
  top: 8px;
}

.menu-title{
  position: relative;
  display: block;
  font-size: 0.65rem;
  line-height: 2.5rem;
}

.header-searchbar {
}

.searchbar {
    box-sizing: border-box;
    margin-top: 11px;
    background-color: #ddd;
    box-shadow: inset 0 0 0 1px #ddd;
    border: 2px solid #ccc;

    position: relative;
}

.main-search {
  background-color: #ddd;
  color: colours.$med-grey;
  border: none;
  position: relative;
  line-height: 2rem;
  font-size: 14px;
  width: 100%;
  height: 43px;
  padding: 5px 40px 5px 15px;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;

  .fa-search {
    color: colours.$med-grey;
  }
}

.main-search:focus {
  background-color: #ddd;
  color: colours.$med-grey;
  outline: none;
}
}

// End header

// Nav

nav {
  font-size: 1.125rem;


.main-nav {
  background-color: colours.$dark-grey;
  display: none;
}

.sub-nav {
  display: none;
}

.webdesign-nav {
  display: none;
}

.it-nav {
  display: none;
}

.telecoms-nav {
  display: none;
}

.software-nav {
  display: none;
}

.marketing-nav {
  display: none;
}

.security-nav {
  display: none;
}

}

// End nav

main {


}

// Banner

#banner {

  height: 100%;
}

.banner-img-container {
  min-height: 590px;
  background: url(https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-57sJ.webp),
  linear-gradient(to right, black, rgba(0,0,0,0.3));
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  display: block;
  position: relative;
  color: white;
  height: 100%;
}

.banner-inner {
  height: 100%;
  display: flex;
  align-items: center;
}



.banner-content {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  h1 {
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
    line-height: 2rem;
  }
}

.banner-button-container {
  flex-grow: 1;
  display: block;
  position: relative;
  bottom: -42%;

  ul {
    list-style: none;
    text-align: center;
    padding: 0 0;
    position: relative;
    margin: 0;
    }
  li {
    margin: 0 2px;
    display: inline-block;
    position: relative;
  }
}

// End Banner

// Services

#services {
  color: colours.$med-grey;
  display: block;
  position: relative;

  .h2 {
    padding: 1rem;
  }

  .col-serv1 {
    padding: 0 15px;

  }

  .col-serv2 {
    width: 50%;
  }

  .services-cards {
    margin-top: -30px;
    text-align: center;

  }

  .card {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  }

.service-card-container {
  display: block;
}

  .button-box {
  display: flex;
  flex-wrap: wrap;
  }
}

// End Services

#about {
position: relative;
  background-color: colours.$dark-grey;
  color: white;
  .container-about {
    text-align: left;
  }
  a {
    color: colours.$dark-grey;
  }
  p {
    font-weight: 400;
    line-height: 2rem;
    margin: 0 0 25px;
  }
}

#latest {
position: relative;

.row {
  margin-top: -30px;
}

.section-container {
  padding: 50px 0;
}

.latest-col-med {}

.latest-mainheader {
  position: relative;
  width: 100%;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}



.article-list {
  overflow: hidden;
}

.card-wrapper {
padding-left: 15px;
padding-right: 15px;
}

.latest-card {
  margin-top: 30px;
  position: relative;
}

.latest-cnt-header {
    display: block;
    position:  relative;
    padding: 0 15px;

  span {
    padding: 40px 0;
  }
}


.latestsp {
  position: relative;
  text-transform: uppercase;
}

.latestsp:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  display: block;
  background-color: #333645;
  bottom: 0;
}
  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 15px;
  }
  p {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin: 0 0 25px;
    color: colours.$med-grey;
  }

  .latest-header {
    position: relative;
    display: flex;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    img {
    width: 100%;
    }
  }

  .header-tag {
  position: absolute;
  z-index: 1;
  height: 1rem;
  padding: 3px;
  margin-top: 10px;
  right: 0;
  color: white;
  a:hover {
    text-decoration: underline;
  }
  }

  .latest-content {
    padding: 30px;
      border: 1px solid #ccc;
      border-top: none;
      text-align: left;
      box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  }

  .user {
    margin: 30px 0 0;
    hr {
      background-color: #ccc;
    }
  }

  .user-grid {
    padding: 30px 0 0;
    display: table;
    table-layout: auto;
  }

  .user-avatar {
  display: table-cell;
  vertical-align: middle;
  }

  .avatar-img {
  border-radius: 50%;
  }

  .user-details {
  line-height: 1.375rem;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  color: colours.$med-grey;
    strong {
      color: colours.$dark-grey;
    }
  }
}

#signup {
  background-color: colours.$light-grey;
  text-align: left;
  position: relative;
  h2 {
    font-size: 2rem;
  }
  .signup-form {
    padding: 0 30px;
  }

  .textfield-group {
  }

  .newsletter-textfields {
    margin: 0 0 15px;
  }
  .newsletter-field {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    height: 47px;
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    color: colours.$med-grey;
  }
  .newsletter-field:focus {
    padding: 15px;
    outline: none;
    box-shadow: 0 0 3px 1px colours.$clr-itsupport;
  }
  .required {
    display: block;
  margin-bottom: 5px;
  }
  .required:after {
    content:" *";
    color: red;
  }


  .checkbox-area {
    display: flex;
    margin: 0 0 15px;
  }

.checkbox-cnt {
  width: 32px;
  height: 32px;
  margin: 0 20px 0 0;
  cursor: pointer;
}


  .checkbox-cnt input {
  position: absolute;
  display: none;
  cursor: pointer;
}


.checkbox-style {
  position: relative;
  background-color: colours.$light-grey;
  border: 3px solid colours.$dark-grey;
  border-radius: 3px;
  width: 26px;
  height: 26px;
  margin: 0 20px 0 0;
}

   .checkbox-cnt input:checked ~ .checkbox-style {
  background-color: colours.$dark-grey;
}

.checkbox-style:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-cnt input:checked ~ .checkbox-style:after {
  display: block;
}

.checkbox-cnt .checkbox-style:after {
  right: 40%;
  top: 10%;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

  .checkbox-text {
    display: inline-block;
    line-height: 2em;
    flex:1;
    a {
      text-decoration: underline;
    }
  }
  label {
    font-weight: 600;
  }
}

#contact{
  background-color: colours.$dark-grey;
  flex-wrap: wrap;
  color: white;
  position: relative;
  a {
    text-decoration: none;
    color: white;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.container {
}

.col {
  flex: 1 0 50%;
  text-align: left;
  margin-bottom: 30px;
  padding: 0 15px;
}

.col2 {
  flex: 1 0 50%;
  text-align: left;
  margin-bottom: -30px;
  padding: 0 15px;
}

.socialmedia-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 20px;
}

.contact-info {

}

.contact-info2 {

}

.c-about-links {

}

.c-website {

}

.c-social-media {

}

footer {
position: relative;
  background-color: white;

  h4 {
    margin: 0 0 26px;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: 375px) {


}

@media (max-width: 479px) {

.latest-card {
  margin-top: 30px;
}



}

@media (min-width: 640px) {

// .latest-card {
//   margin-top: 30px;
//   max-width: 100%;
// }


}

@media (max-width: 767px) {
.inline-search{
  display: none;
}
}


@media (min-width:481px) and (max-width: 767px) {


}

@media (min-width: 768px) {


// General


  .cardspacer {
      display: block;
    }

.container{
    width: 750px;
    box-sizing: border-box;
}

// Header

.header-searchbar {
  display: none;
}

.header-phone {
  display: none;
}

// Banner

// Services

.col-serv2 {

}

#services .row {
display: flex;
flex-wrap: wrap;
}

.card-wrapper {
  width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

//  About

// Latest

.article-list {
  }

.row {
  width: 750px;
  display: flex;
}

.latest-card {
}

}

#latest .card-wrapper:nth-child(3){
  display: none;
}

// Contact

#contact .row {
  flex-wrap: wrap;
}

.col-wrapper {
  position: relative;
  width: 50%;
}

.col-wrapper2 {
  position: relative;
  width: 50%;
  margin-bottom: -30px;
}

.col {
}

@media (min-width: 768px) and (max-width: 992px) {

}
